*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    background-color: black;
    margin: 100px auto;
}

.item{
    /* width: 20px; */
    /* height: 20px; */
    border: black solid 1px;
    background-color: white;
    opacity: 1;
}


button{
    width: 200px;
    height: 100px;
    margin: 20px;
    font-size: 32px;
}